html,
body {
    scroll-behavior: smooth;
}

body {
    padding:0;
    margin:0;
    min-height: 100vh;

    font-family: adelle-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1px;
}

.h1-like,
h1 {
    font-family: capitolium-2, serif;
    font-weight: 700;
    font-size: 50px;
}

.h2-like,
h2 {
    font-family: capitolium-2, serif;
    font-weight: 700;
    font-size: 40px;
}

.h3-like,
h3 {
    font-family: adelle-sans, sans-serif;
    font-weight: 800;
    font-size: 20px;
}

a {
    color: $gold;
    text-decoration: underline;
    transition: 0.3s all ease;

    &:hover {
        text-decoration: none;
    }
}

p {
    line-height: 1.8em;
}

.center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    max-width: 1094px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @media only screen and (max-width: 1066px) {
        max-width: 90%;
    }
}

.row {
    display: flex;

    &.reverse {
        flex-direction: row-reverse;
    }

    .col {

    }
}