#sticky {
    display: block;
    width: 55px;
    height: 61px;

    position: fixed;
    top: 0;
    left: 0;

    z-index:2;

    img {
        width: 100%;
    }
}

header.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
    z-index: 55555;
    
    .logo {
        width: 250px;
    }
    
    #main-nav-left,
    #main-nav-right {
        // max-width: 758px;
        width: 100%;
        margin: 0 auto;
        
        li {
            margin: 0;
            padding: 0;
            
            list-style: none;
        
            &.branding {
            }
        
            a {
                color: $white;
                text-decoration: none;
                text-transform: uppercase;
                font-family: adelle-sans, sans-serif;
                font-size: 15px;
                font-weight: 700;
        
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    
//         ul {
//             display: flex;
//             
//             justify-content: space-between;
//             
//             margin: 0;
//             padding: 0;
//     
//             list-style: none;
//             
// 
//         }
    }
    
}